<% content_for :body do %>
  <div>
    <div><h2><%= @post.subject %></h2></div>
    <div style="float:left;padding-right:10px">
      <% if is_mail_safe_image?(@post.user.avartar) %>
        <img style="width:40px;height:40px;border-radius: 5px;" src="<%= @post.user.avartar.html_safe %>" />
      <% end %>
    </div>
    <div style="font-size:14px"><b><%= @post.user.name %></b></div>
    <div style="font-size:14px;color:#aaaaaa"><b>via email</b></div>
  </div>

  <div style="border-top: 1px solid #dddddd;">
    <p> <%= auto_link(simple_format(@post.body)).html_safe %> </p>
    <p><%= Rails.configuration.portal_root %> | <%= link_to "Star It", star_post_link(@post.id), :host => Rails.configuration.portal_host %> </p>
  </div>
<% end %>
