<!DOCTYPE html>
<html>
  <head> <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' /> </head>
<body>

<div class="panel panel-default" style="margin-bottom: 20px;">
  <ul class="list-group" style="padding-left: 0;margin-bottom: 20px;">
    <li class="list-group-item" style="padding:20px;position: relative; display: block; padding: 10px 15px; margin-bottom: -1px; background-color: #fff; border: 1px solid #ddd;">
      <div>
        <div><h1><%= @comment.post.subject %></h1></div>
        <div style="float:left;padding-right:10px">
          <% if is_mail_safe_image?(@comment.user.avartar) %>
            <img style="width:40px;height:40px;border-radius: 5px;" src="<%= @comment.user.avartar.html_safe %>" />
          <% end %>
        </div>
        <div style="font-size:14px"><b><%= @comment.user.name %></b></div>
        <div style="font-size:14px;color:#aaaaaa"><b>via email</b></div>
      </div>
      <br/>
      <div><%= Rails.configuration.portal_root %></div>
    </li>
    <li class="list-group-item" style="padding:20px;position: relative; display: block; padding: 10px 15px; margin-bottom: -1px; background-color: #fff; border: 1px solid #ddd;">
      <p><b>Comment:</b></p>
      <p> <%= @comment.original_body.html_safe %> </p>
    </li>
    <li class="list-group-item" style="padding:20px;position: relative; display: block; padding: 10px 15px; margin-bottom: -1px; background-color: #fff; border: 1px solid #ddd;">
      <p><b>Post:</b></p>
      <p> <%= auto_link(simple_format(@comment.post.body)).html_safe %> </p>
    </li>

    <li class="list-group-item" style="padding:20px;position: relative; display: block; padding: 10px 15px; margin-bottom: -1px; background-color: #fff; border: 1px solid #ddd;">
      <p>
<b>Wooden Fish</b> is a light weight sharing program focuses on exchanging daily reading and thoughts.<br/>
<b>Share</b> by sending to: woodenfish@hulu.com<br />
<b>Star</b> and <b>view</b> posts on portal: http://woodenfish.prod.hulu.com/<br />
<br />
Woodenfish @ woodenfish-dev@hulu.com
      </p>
    </li>
  </ul>
</body>
</html>
