
<% content_for :body do %>
  <div>
    <div style="float:left;padding-right:10px">
      <% if is_mail_safe_image?(@comment.user.avartar) %>
        <img style="width:40px;height:40px;border-radius: 5px;" src="<%= @comment.user.avartar.html_safe %>" />
      <% else %>
        <img style="width:40px;height:40px;border-radius: 5px;" src="<%= get_default_gravartar(@comment.user.email) %>" />
      <% end %>
    </div>
    <div><b><%= @comment.user.name %></b></div>
    <div style="color:#aaaaaa"><b>commented via <%= @comment.human_readable_source %></b></div>
    <p> <%= auto_link(simple_format(@comment.body)).html_safe %> </p>
  </div>

  <div style="border-top: 1px solid #dddddd;">
    <% post_url = "#{Rails.configuration.portal_root}?post_id=#{@comment.post_id}" %>
    <p><h2>
      <a style="font-weight:bold;text-decoration:none" href="<%= post_url %>"><%= @comment.post.subject %></a>
    </h2></p>
    <div style="float:left;padding-right:10px">
      <% if is_mail_safe_image?(@comment.post.user.avartar) %>
        <img style="width:40px;height:40px;border-radius: 5px;" src="<%= @comment.post.user.avartar.html_safe %>" />
      <% else %>
        <img style="width:40px;height:40px;border-radius: 5px;" src="<%= get_default_gravartar(@comment.post.user.email) %>" />
      <% end %>
    </div>
    <div><b><%= @comment.post.user.name %></b></div>
    <div style="color:#aaaaaa"><b><%= @comment.post.created.strftime("%F") %></b></div>
    <p> <%= auto_link(simple_format(@comment.post.body)).html_safe %> </p>
  </div>

<% end %>
