<% content_for :body do %>
  <div>
    <div><h2><%= @post.subject %></h2></div>
    <div style="float:left;padding-right:10px">
      <% if is_mail_safe_image?(@post.user.avartar) %>
        <img style="width:40px;height:40px;border-radius: 5px;" src="<%= @post.user.avartar.html_safe %>" />
      <% end %>
    </div>
    <div><b><%= @post.user.name %></b></div>
    <div style="color:#aaaaaa"><b>via <%= @post.source %></b></div>
    <br/>
  </div>

  <div style="border-top: 1px solid #dddddd;">
    <p> <%= auto_link(simple_format(@post.body)).html_safe %> </p>
    <p><a href="<%= Rails.configuration.portal_root %>stars/star_post?post_id=<%= @post.id %>" target="_blank">Star It</a> | <a href="<%= Rails.configuration.portal_root %>" target="_blank">WoodenFish</a> </p>
  </div>
<% end %>
