<style>
  a.starred:link {color:#DAA520;}    /* unvisited link */
  a.starred:visited {color:#DAA520;} /* visited link */
  a.starred:hover {color:#dddddd;}   /* mouse over link */
  a.starred:active {color:#DAA520;}  /* selected link */
  a.unstarred:link {color:#dddddd;}    /* unvisited link */
  a.unstarred:visited {color:#dddddd;} /* visited link */
  a.unstarred:hover {color:#DAA520;}   /* mouse over link */
  a.unstarred:active {color:#dddddd;}  /* selected link */
  .poststar {
    font-size:30px;
  }
  .list-group-item {
    border-radius: 8px;
    border-radius: 8px;
  }
  .list-group-item:first-child {
    border-radius: 8px;
    border-radius: 8px;
  }
  .list-group-item:last-child {
    border-radius: 8px;
    border-radius: 8px;
  }
</style>

<div>
  <ul class="list-group" style="background-color:#dddddd">
    <% @posts.each do |post| %> 
      <li class="list-group-item" style="padding:20px;margin-bottom:20px">
        <div class="media">
          <div style="float:left;width:60px;margin-right:10px;text-align:center">
            <div id="poststar-<%= post.id %>">
              <% starred = post.starred_by_user?(get_current_user_id)  %>
              <%= link_to (starred ? "★" : "☆"), 
                {:controller => "home", :action => "star_post", :post_id => post.id},
                :class => "poststar #{(starred ? "starred" : "unstarred")}",
                :method => :post, :remote => true, :style => "text-decoration:none" %>
              <br />
              <span style="font-size:20px;width:100%;"><%= post.starred_count %></span>
            </div>
          </div>
          <div class="media-body">
              <div>
                <div> <h3 class="media-heading"> <%= post.subject %> </h3> </div>
                <div style="padding-bottom:10px;padding-top:10px">
                  <div style="float:left;padding-right:10px">
                    <img style="width:40px;height:40px;border-radius: 5px;"
                      class="pull-right media-object" 
                      src="<%= post.user.avartar.html_safe %>" />
                  </div>
                  <div><b><%= post.user.name %></b></div>
                  <div class="time_text"><%= time_ago_in_words(post.created) %> ago</div>
                </div>
              </div>
              <div style="margin-top:10px;margin-bottom:10px;margin-right:20px;border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd">
                <p> <%= auto_link(simple_format(post.body)).html_safe %> </p>
              </div>
              <div>
                <% comment_count = post.comments_count %>
                <%= link_to "#{comment_count} comment#{"s" if comment_count > 1}", 
                      post_comments_path(post.id),
                      :method => :get, :remote => true %>
              </div>
              <div id="post-comment-<%= post.id %>">
              </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<div>
  <div class="pagination pagination-right" style="vertical-align: middle;">                                      
    <% cond = {} %>                                                                                              
    <%= will_paginate @posts, :params => cond, :renderer => BootstrapPagination::Rails %>                    
  </div>                                                                                                         
</div>
