
<div>
  Request:
  <div>
    user: <%= @user_json %>
  </div>
  <div>
    post: <%= @post_json %>
  </div>
</div>

<br/>

<% if @error_message %>
  <div class="alert alert-danger">
    Error: <%= @error_message %>
    <br/>
    Stack trace: <br/>
    <%= @error_trace %>
  </div>
<% end %>

<br/>

<div>
  User in DB:
  <div>
    user: <%= @user %>, <% if @user %> id: <%= @user.id %> <% end %>
  </div>
  Post in DB:
  <div>
    post: <%= @post %>, <% if @post %> id: <%= @post.id %> <% end %>
  </div>
</div>
