<style>
  .list-group-item {
    border-radius: 8px;
    border-radius: 8px;
  }
  .list-group-item:first-child {
    border-radius: 8px;
    border-radius: 8px;
  }
  .list-group-item:last-child {
    border-radius: 8px;
    border-radius: 8px;
  }
</style>

<div>
  <% if @posts.empty? %>
    <div class="container" style="width:50%">
      <h4>No posts found! Explore <a href="/">home page</a> and add more stars!</h4>
      <%= image_tag "woodenfish-loading.jpg", :class => "img-circle" %>
    </div>
  <% end %>
  <ul class="list-group" style="margin-left:0px;background-color:#dddddd">
    <% @posts.each do |post| %> 
      <li class="list-group-item post" style="padding:20px;margin-bottom:20px" id="post-<%= post.id %>">
        <div class="media">
          <div style="float:left;width:60px;margin-right:10px;text-align:center">
            <%= render :partial => 'stars/star', :locals => {:post => post} %>
          </div>
          <div class="media-body">
            <%= render :partial => 'posts/post', :locals => {:post => post, :mode => "view"} %>
            <div id="post-comment-section-<%= post.id %>" class="post-comment">
              <div id="post-comment-<%= post.id %>">
                  <% comment_count = post.comments_count %>
                  <% if comment_count > 0 %>
                    <%= link_to "#{comment_count} comment#{"s" if comment_count > 1}", 
                          post_comments_path(post.id),
                          :method => :get, :remote => true %>
                  <% end %>
              </div>
              <div style="margin-right:60px;margin-top:10px">
                <script>
                  $(document).on("page:load ready", function(){
                    $('#comment-form-<%= post.id %>').bind('ajax:success', function(xhr, data, status){
                      $('#comment-body-<%= post.id %>').val("").attr("disabled", false);
                      $.get('<%= post_comments_path(post.id) %>');
                    });
                    $('#comment-form-<%= post.id %> textarea').keypress(function(event) {
                      var node = $(this);
                      if (event.which == 13 && event.ctrlKey) {
                        $('#comment-form-<%= post.id %>').submit();
                        node.attr("disabled", true);
                      }
                    });
                  });
                </script>
                <%= form_tag "comments", :id => "comment-form-#{post.id}", :style => "margin-bottom:10px",
                    :remote => true, :method => "POST" do %>
                  <input type="hidden" name="post_id" value="<%= post.id %>" />
                  <input type="hidden" name="user_id" value="<%= get_current_user_id %>" />
                  <%= text_area_tag :comment_body, "", :id => "comment-body-#{post.id}",
                      :class => "auto-grow",
                      :placeholder => "ctrl+enter to submit new comment",
                      :style => "margin-bottom:0px;height:30px;width:100%;padding:5px;border:1px solid #dddddd" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
<div id="post-list-control-button" class="post-list-control">
  <div class="btn-group-vertical">
    <%= button_tag :class => "btn btn-sm btn-default active", 'data-action' => "expand" do %>
      <%= image_tag "full-post.png", :alt => "Full Post" %>
    <% end %>
    <%= button_tag :class => "btn btn-sm btn-default", 'data-action' => "collapse" do %>
      <%= image_tag "title-only.png", :alt => "Title Only" %>
    <% end %>
  </div>
</div>
<div>
  <% cond = {} %>
  <%= will_paginate @posts, :params => cond, :renderer => BootstrapPagination::Rails, :class => "pager" %>
</div>                                                                                                         
<script>
<% if @post_id %>
  (function($) {
    var scrollTo = function(node) {
      var offsetY = $("#main-body").offset().top;
      if (node.length > 0) {
        $("body").animate({
          scrollTop: $(node).offset().top - offsetY
        }, 1000);
      }
    };
    $(document).on("ready page:load", function() {
      setTimeout(function() {
        scrollTo($("#post-<%= @post_id %>"));
      }, 1000);
    });
  })(jQuery);
<% end %>
</script>
