<style>
  .list-group-item {
    border-radius: 8px;
  }
  .list-group-item:first-child {
    border-radius: 8px;
  }
  .list-group-item:last-child {
    border-radius: 8px;
  }
</style>

<div>
  <% if @posts.empty? %>
    <div class="container" style="width:50%">
      <div style="text-align:center">
        <br/>
      <% if action_name == 'search' %>
        <h4>Nothing found.</h4>
        <h4>Please try different terms.</h4>
      <% else %>
        <h4>Nothing found.</h4>
        <h4>Explore <a href="/">home page</a> and add more stars!</h4>
      <% end %>
      <div>
      <br/>
      <%= image_tag "woodenfish-loading.jpg", :class => "img-circle" %>
    </div>
  <% end %>
  <% #TODO optimize slow query %>
  <% score = current_user ? current_user.score : nil %>
  <% if score && score < 15 %>
    <div class="alert alert-danger" style="text-align:center;margin-bottom:8px">
      Your have a LOW score now. More posts, comments, stars would help to raise it.
    </div>
  <% end %>
  <ul class="list-group" style="margin-left:0px;background-color:#dddddd"> 
    <% @posts.each do |post| %> 
      <li class="list-group-item post" style="padding:15px;padding-top:8px;margin-bottom:10px" id="post-<%= post.id %>">
      <div class="media">
        <div style="float:left;width:60px;margin-right:10px;text-align:center">
          <%= render :partial => 'stars/star', :locals => {:post => post} %>
        </div>
        <div class="media-body">
          <%= render :partial => 'posts/post', :locals => {:post => post, :mode => "view"} %>
          <div id="post-comment-section-<%= post.id %>" class="post-comment">
            <div id="post-comment-<%= post.id %>" style="padding-top:10px">
              <% comment_count = post.comments_count %>
              <% if comment_count > 0 %>
                <%= link_to "#{comment_count} comment#{"s" if comment_count > 1}", post_comments_path(post.id), :method => :get, :remote => true %>
              <% end %>
            </div>
            <div style="margin-right:60px;margin-top:10px">
              <script> $(document).on("page:load ready", function(){ $('#comment-form-<%= post.id %>').bind('ajax:success', function(xhr, data, status){ $('#comment-body-<%= post.id %>').val("").attr("disabled", false); $.get('<%= post_comments_path(post.id) %>'); }); $('#comment-form-<%= post.id %> textarea').keypress(function(event) { var node = $(this); if (event.which == 13 && event.ctrlKey) {
                        $('#comment-form-<%= post.id %>').submit();
                        node.attr("disabled", true);
                      }
                    });
                  });
              </script>
                <%= form_tag "comments", :id => "comment-form-#{post.id}", :style => "margin-bottom:0px",
                    :remote => true, :method => "POST" do %>
                  <input type="hidden" name="post_id" value="<%= post.id %>" />
                  <input type="hidden" name="user_id" value="<%= get_current_user_id %>" />
                  <%= text_area_tag :comment_body, "", :id => "comment-body-#{post.id}",
                      :class => "auto-grow",
                      :placeholder => "ctrl+enter to submit",
                      :style => "margin-bottom:0px;height:30px;width:100%;padding:5px;border:1px solid #dddddd" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
<div id="post-list-control-button" class="post-list-control">
  <div class="btn-group-vertical">
      <%= button_tag :style => "border-bottom-left-radius:8px;border-bottom-right-radius:8px",
        :class => "btn btn-sm btn-default", :data => { :toggle => 'modal', :target => '#modal_new_post' } do %>
        <span style="font-size:20px;">+</span>
      <% end %>

      <div style="height:20px">
      </div>

      <%= button_tag :style => "width:50px;border-top-left-radius:8px;border-top-right-radius:8px",
          :class => "btn btn-sm btn-default view-style-btn active", 'data-action' => "expand" do %>
        <%= image_tag "full-post.png", :alt => "Full Post" %>
      <% end %>
      <%= button_tag :style => "width:50px",
          :class => "btn btn-sm btn-default view-style-btn", 'data-action' => "collapse" do %>
        <%= image_tag "title-only.png", :alt => "Title Only" %>
      <% end %>
  </div>
</div>

  <div class="modal fade" id="modal_new_post" style="top:10%;left:44%;width:59%;height:65%">
    <%= form_tag "/posts", :method => "post", :style => "width:100%;height:100%" do %>
      <div class="modal-header">
        <h3>New post</h3>
      </div>
      <div class="modal-body">
        <input type="hidden" name="user_email" value="<%= get_current_user_email %>" />
        <p> <input style="width:100%;height:30px" type="text" name="post_subject" value="" /> </p>
        <p> <textarea style="width:100%" rows=12 type="text" name="post_body" value=""></textarea> </p>
        <p> <button type="submit" class="btn btn-default">post</button> </p>
      </div>
    <% end %>
  </div>

<div>
  <% cond = {} %>
  <%= will_paginate @posts, :params => cond, :renderer => BootstrapPagination::Rails, :class => "pager" %>
</div>
<script>
<% if @post_id %>
  (function($) {
    var scrollTo = function(node) {
      var offsetY = $("#main-body").offset().top;
      if (node.length > 0) {
        $("body").animate({
          scrollTop: $(node).offset().top - offsetY
        }, 1000);
      }
    };
    $(document).on("ready page:load", function() {
      setTimeout(function() {
        scrollTo($("#post-<%= @post_id %>"));
      }, 1000);
    });
  })(jQuery);
<% end %>
</script>
