<div class="container theme-showcase">
  <form action="./portal_submit" method="post">
    <div>
      <span>User email:</span> <input size=100 type="text" name="user_email" value="yizhe.tang@hulu.com" />
    </div>
    <div>
      <span>Post subject:</span> <input size=100 type="text" name="post_subject" value="" />
    </div>
    <div>
      <span>Post body:</span><br/>
      <textarea cols=100 rows=10 type="text" name="post_body" value=""></textarea>
    </div>
    <div>
      <button type="submit" class="btn btn-default">submit</button>
    </div>
  </form>
  <form action="./add_notification" method="get">
    <div>
      <span>Add new post notification:</span><input size=10 type="text" name="post_id" value="<%= rand(10) %>" />
    </div>
    <div>
      <button type="submit" class="btn btn-default">add</button>
    </div>
  </form>
  <form action="./send_summary" method="get">
    <button type="submit" class="btn btn-default">send summary to me</button>
  </form>
  <table>
    <tr>
      <td>name</td>
      <td>score</td>
      <td>posts</td>
      <td>comments</td>
      <td>stars</td>
    </tr>
    <% users = User.find(:all).sort {|x,y| [y.score, y.id] <=> [x.score, x.id]} %>
    <% users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.score %></td>
        <td><%= user.posts_count %></td>
        <td><%= user.comments_count %></td>
        <td><%= user.stars_count %></td>
      </tr>
    <% end %>
  </table>
</div>
