<!DOCTYPE html>
<html>
<head>
  <title>Wooden Fish</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <style>
    body {
      padding-top: 60px; /* to make the container go all the way to the bottom of the topbar */
    }
    th, td {               
      text-align: center !important;  
      overflow: hidden;    
    }
  </style>
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container" style="width:60%">
        <div> <a class="navbar-brand" href="/">Wooden Fish</a> </div>
        <div class="nav-collapse collapse">
          <ul class="nav">   
          </ul>
        </div>
        <div style="float:right;padding:10px">
          <img style="width:30px;height:30px;border-radius: 5px;" 
             src="<%= get_current_user_avartar.html_safe %>" />
        </div>
        <div style="float:right" class="navbar-brand">
          <%= get_current_user_name %>
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="width:60%">
    <%= yield %>
  </div>
</body>

</html>
