<!DOCTYPE html>
<html>
<head>
  <title>Wooden Fish</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "pygments", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <style>
    body {
      padding-top: 60px; /* to make the container go all the way to the bottom of the topbar */
      background-color:#ddd;
    }
    th, td {
      text-align: center !important;
      overflow: hidden;
    }
    .time_text {
      color: #aaaaaa;
    }
    a.starred:link {color:#DAA520;}    /* unvisited link */
    a.starred:visited {color:#DAA520;} /* visited link */
    a.starred:hover {color:#dddddd;}   /* mouse over link */
    a.starred:active {color:#DAA520;}  /* selected link */
    a.unstarred:link {color:#dddddd;}    /* unvisited link */
    a.unstarred:visited {color:#dddddd;} /* visited link */
    a.unstarred:hover {color:#DAA520;}   /* mouse over link */
    a.unstarred:active {color:#dddddd;}  /* selected link */
    .poststar {
      font-size:26px;
    }
    .navbar .navbar-inner .nav {
      padding: 5px;
    }
    #f {
      position:absolute; top:12px; left:42%; width:16%; height: 26px;
      border:2px #999 solid; border-radius:20px;
      background:transparent url('search.png') no-repeat;
      background-origin:border-box; background-position:right -1px;
    }
    #f:hover, #f:focus, #f.focus {border:2px #bbb solid}
    #f:focus, #f.focus {background-color:#f1f1f1; background-position:right -29px}
    #f:focus #q, #f.focus #q {color:#222}
    #q {
      width:100%; border:none; color:#aaa; outline:none; font-size:13px;
      padding:4px 21px 0 10px; background:transparent;
    }
    #spanner {position:absolute; right:5px; top:0px; width:18px; height:18px}
    #spanner:hover {cursor: pointer}
  </style>
  <script>
    $(document).ready(function() {
      var input = $('#q');
      var _keyEventIsChar = function(e) {
        if (e.metaKey || e.altKey || e.ctrlKey) {return false;}
        return (e.which > 64 && e.which < 91)  ||       // a-z
               (e.which > 47 && e.which < 58)  ||       // 0-9
               (e.which > 95 && e.which < 106) ||       // 0-9 (num pad)
               $.inArray(e.which, [59, 61, 107, 109, 187, 188, 189, 222]) != -1;
      };
      input.focusin( function() {input.parent().addClass('focus');});
      input.focusout(function() {input.parent().removeClass('focus');});
      $('#spanner').click(function() {$('form#search').submit();});
      $(document).keydown(function(e) {
        if (e.target == input[0] && e.which == 27) {    // Esc
          input.blur();
          return;
        }
        if (!e.target.tagName.match(/BODY|DIV/)) {return;}
        if (_keyEventIsChar(e) && !input.is(':focus')) {
          input.val('');
          input.focus();
        } else if (e.which == 191) {                    // '/'
          input.focus();
          input.select();
          e.preventDefault();
        }
      });
      var url = window.location.href;
      var q;
      if (url.indexOf('?q=') > 0) q = url.split('?q=')[1];
      if (q && q.length > 0) {
        input.val(decodeURIComponent(q.replace(/\+/g, ' ')));
      }
    });
  </script>
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top" id='top-nav'>
    <div class="navbar-inner">
      <div class="container" style="width:75%">
        <div> <a class="navbar-brand" href="/">WoodenFish</a> </div>
        <ul class="nav" style="font-size:16px">
          <li id='nav-starred'>
            <a href="/posts/starred">Starred</a>
          </li>
          <li id='nav-mine'>
            <a href="/posts/mine">Mine</a>
          </li>
        </ul>

        <form id='search' class='navbar-left' action='/search'><div id='f'>
          <input name='q' id='q' type='text' autocomplete='off' />
          <span id='spanner'></span>
        </div></form>
        <div id="user_profile">
          <%= render :partial => 'layouts/profile' %>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal_user" style="top:10%;left:44%;width:59%;height:65%">
    <%= form_tag "home/save_profile", :id => "profile_form", :method => "PUT" do %>
      <div class="modal-header">
        <h3>Edit Profile</h3>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-heading">
            <b class="panel-title">Avatar</b>
          </div>
          <div class="panel-body">
            <%= text_field_tag :avartar, get_current_user_avartar, :style => "width:500px" %>
            <br />
            <span style="font-weight:bold">
            Recommend to use mail friendly avartar from <a target="_blank" href='https://en.gravatar.com/'>Gravatar</a>
            </span>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <b class="panel-title">Notification</b>
          </div>
          <div class="panel-body">
            <%= check_box_tag 'new_post', '1', current_user.notify_policy.new_post_notify? %> New post
            <br/>
            <%= check_box_tag 'new_comment', '1', current_user.notify_policy.new_comment_notify? %> New comment
            <br/>
            <%= check_box_tag 'summary', '1', current_user.notify_policy.summary_notify? %> Daily summary at &nbsp;
            <%= select_tag "timezone", "<option>CST</option><option>PST</option>".html_safe, :style => "width:100px" %>
            <% options = (0..23).to_a.map {|t| [t.to_s + ':00', t]} %>
            <%= select_tag "time", options_for_select(options, (current_user.notify_policy.summary_send_time_in_day + get_timezone_offset('CST')) / 3600), :style => "width:100px" %>
          </div>
        </div>
        <p>
          <button id="save_profile" type="submit" class="btn btn-default">save</button>
        </p>
      </div>
    <% end %>
  </div>
  <div class="container" style="width:75%">
    <div class="relative" id="main-body">
      <%= yield %>
    </div>
  </div>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '<%= Rails.configuration.ga_id %>', 'hulu.com');
    ga('send', 'pageview');
  </script>
  <script>
  // Include the UserVoice JavaScript SDK (only needed once on a page)
  UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/czx6qnnnBlxeCTsUeNgZKQ.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

  // Set colors
  UserVoice.push(['set', {
    trigger_style: 'icon',
    height: '500px',
    width: '100%',
    accent_color: '#808283',
    trigger_color: 'white',
    trigger_background_color: '#6aba2e',
    contact_title: 'Tell us your thoughts',
    smartvote_enabled: false,
    post_idea_enabled: false,
    contact_enabled: false,
    permalinks_enabled: false,
  }]);

  UserVoice.push(['addTrigger', { mode: 'smartvote', trigger_position: 'bottom-right' }]);
  // Or, use your own custom trigger:
  //UserVoice.push(['addTrigger', '#id', { mode: 'smartvote' }]);

  // Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
  UserVoice.push(['autoprompt', {}]);

  // Identify the user and pass traits
  // To enable, replace sample data with actual user traits and uncomment the line
  UserVoice.push(['identify', {
    email:      '<%= get_current_user_email %>', // User’s email address
    name:       '<%= get_current_user_name %>', // User’s real name
    //created_at: 1364406966, // Unix timestamp for the date the user signed up
    id:         <%= get_current_user_id %>, // Optional: Unique id of the user (if set, this should not change)
    //type:       'Owner', // Optional: segment your users by type
    //account: {
    //  id:           123, // Optional: associate multiple users with a single account
    //  name:         'Acme, Co.', // Account name
    //  created_at:   1364406966, // Unix timestamp for the date the account was created
    //  monthly_rate: 9.99, // Decimal; monthly rate of the account
    //  ltv:          1495.00, // Decimal; lifetime value of the account
    //  plan:         'Enhanced' // Plan name for the account
    //}
  }]);
  </script>
  <script>
    var nav = '<%= @nav %>';
    $(document).on("ready page:load", function() {
      if (nav) {
        $("#top-nav .nav .active").toggleClass('active');
        $("#nav-" + nav).addClass('active');
      }
    });
    $(document).on("ready page:load", function() {
      $("textarea.auto-grow").autoGrow();
    });
  </script>
</body>

</html>
