<!DOCTYPE html>
<html>
<head>
  <title>Wooden Fish</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <style>
    body {
      padding-top: 60px; /* to make the container go all the way to the bottom of the topbar */
    }
    th, td {               
      text-align: center !important;  
      overflow: hidden;    
    }
    .time_text {
      color: #aaaaaa;
    }
    a.starred:link {color:#DAA520;}    /* unvisited link */
    a.starred:visited {color:#DAA520;} /* visited link */
    a.starred:hover {color:#dddddd;}   /* mouse over link */
    a.starred:active {color:#DAA520;}  /* selected link */
    a.unstarred:link {color:#dddddd;}    /* unvisited link */
    a.unstarred:visited {color:#dddddd;} /* visited link */
    a.unstarred:hover {color:#DAA520;}   /* mouse over link */
    a.unstarred:active {color:#dddddd;}  /* selected link */
    .poststar {
      font-size:30px;
    }
    .navbar .navbar-inner .nav {
      padding: 5px;
    }
  </style>
</head>

<body style="background-color:#dddddd">
  <div class="navbar navbar-inverse navbar-fixed-top" id='top-nav'>
    <div class="navbar-inner">
      <div class="container" style="width:75%">
        <div> <a class="navbar-brand" href="/">Wooden Fish</a> </div>
        <div class="">
          <ul class="nav" style="font-size:16px">
            <li class="active" id='nav-home'>
              <a href="/">Home</a>
            </li>
            <li id='nav-stared'>
              <a href="/posts/stared">Starred</a>
            </li>
          </ul>
        </div>
        <div id="user_profile">
          <%= render :partial => 'layouts/profile' %>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal_user" style="top:30%;left:44%;width:59%;height:25%">
    <%= form_tag "home/save_profile", :id => "profile_form", :method => "PUT" do %>
      <div class="modal-header">
        <h3>Edit Profile</h3>
      </div>
      <div class="modal-body">
        <p>
          Avartar: <%= text_field_tag :avartar, get_current_user_avartar, :style => "width:500px" %>
          <br />
          <span style="color:red">
          Recommend to use email friendly avartar from <a target="_blank" href='https://en.gravatar.com/'>Gravatar</a>
          </span>
        </p>
        <p>
          <%= submit_tag "save", :id => "save_profile" %>
        </p>
      </div>
      <div class="modal-footer">
      </div>
    <% end %>
  </div>
  <div class="container" style="width:75%">
    <div class="relative" id="main-body">
      <%= yield %>
    </div>
  </div>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '<%= Rails.configuration.ga_id %>', 'hulu.com');
    ga('send', 'pageview');
  </script>
  <script>
  // Include the UserVoice JavaScript SDK (only needed once on a page)
  UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/czx6qnnnBlxeCTsUeNgZKQ.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

  // Set colors
  UserVoice.push(['set', {
    trigger_style: 'icon',
    height: '500px',
    width: '100%',
    accent_color: '#808283',
    trigger_color: 'white',
    trigger_background_color: '#6aba2e',
    contact_title: 'Tell us your thoughts',
    smartvote_enabled: false,
    post_idea_enabled: false,
    contact_enabled: false,
    permalinks_enabled: false,
  }]);

  UserVoice.push(['addTrigger', { mode: 'smartvote', trigger_position: 'bottom-right' }]);
  // Or, use your own custom trigger:
  //UserVoice.push(['addTrigger', '#id', { mode: 'smartvote' }]);

  // Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
  UserVoice.push(['autoprompt', {}]);

  // Identify the user and pass traits
  // To enable, replace sample data with actual user traits and uncomment the line
  UserVoice.push(['identify', {
    email:      '<%= get_current_user_email %>', // User’s email address
    name:       '<%= get_current_user_name %>', // User’s real name
    //created_at: 1364406966, // Unix timestamp for the date the user signed up
    id:         <%= get_current_user_id %>, // Optional: Unique id of the user (if set, this should not change)
    //type:       'Owner', // Optional: segment your users by type
    //account: {
    //  id:           123, // Optional: associate multiple users with a single account
    //  name:         'Acme, Co.', // Account name
    //  created_at:   1364406966, // Unix timestamp for the date the account was created
    //  monthly_rate: 9.99, // Decimal; monthly rate of the account
    //  ltv:          1495.00, // Decimal; lifetime value of the account
    //  plan:         'Enhanced' // Plan name for the account
    //}
  }]);
  </script>
  <script>
    var nav = '<%= @nav %>';
    $(document).on("ready page:load", function() {
      if (nav) {
        $("#top-nav .nav .active").toggleClass('active');
        $("#nav-" + nav).addClass('active');
      }
    });
    $(document).on("ready page:load", function() {
      $("textarea.auto-grow").autoGrow();
    });
  </script>
</body>

</html>
